.Home {
    overflow-x: hidden;

}

.HeroSection {
    min-height: calc(100vh - 60px);
    padding: 0 5vw 200px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
}

.HeroTextSection {
    margin: 5vw 3vw 5vw 0;
    padding: 2rem 0;
}

.HeroTextSection h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 0 0 2rem 0;
}

.HeroTextSection h3 {
    margin: 2rem 0;
    
}

.Hiker {
    margin: 5vw 0 5vw 3vw;
    width: 95%;
    max-width: 500px;
}

.Mountains {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    min-width: 100vw;
}

@media (max-width: 900px) {

    .HeroSection {
        flex-direction: column;
        padding: 5vh 5vw;
    }

    .HeroTextSection {
        margin: 5vh 0;
    }

    .Hiker {
        margin: 5vh 0;
    }

}