.SearchSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative;
}

.SearchBox {
    width: 100%;
    max-width: 400px;
}

.SpinnerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: absolute;
    bottom: 10%;
    left: 0;
}

.ResultsSection {
    opacity: 0;
    animation: FadeIn 0.2s ease forwards;
    animation-delay: 0.5s;
    text-align: center;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}