.SearchSection {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40vh;
    position: relative;
}

.SearchBox {
    width: 90%;
    max-width: 400px;
}

.SpinnerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: absolute;
    bottom: 50%;
    left: 0;
}

@keyframes FadeIn {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}