:root {
  --background: white;
  --background-accent: rgb(248, 248, 248);
  --primary: #353535;
  --secondary: #838383;
  --accent: #00BFBF;
  --dark-accent: rgb(0, 170, 170);
}

.dark-mode {
  --background: #353535;
  --background-accent: #3d3d3d;
  --primary: #d3d3d3;
  --secondary: #838383;
  --accent: #00BFBF;
  --dark-accent: rgb(0, 170, 170);
}

input, select, textarea{
  color: var(--primary);
}

textarea:focus, input:focus {
  color: var(--primary);
}

.App {
  color: var(--primary);
  background-color: var(--background);
  padding-top: 60px;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
} 

* {
  outline: none;
  /* text-transform: lowercase; */
}

button {
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-weight: 500;
}

a {
  user-select: none;
  color: inherit;
  text-decoration: none;
}




.form-box {
  width: 90vw;
  max-width: 400px;
  margin: auto;
}

.page-header {
  text-align: center;
  margin: 10vh 0;
}

.main {
  min-height: calc(100vh - 60px);
}

.accented-text {
  color: var(--accent);
}

.accented-section {
  background-color: var(--accent);
  color: var(--background);
}

.primary-button {
  border: none;
  background-color: var(--accent);
  color: var(--background);
  padding: 8px 20px;
  border-radius: 2px;

  transition: background-color 0.1s ease;
}

.primary-button:hover {
  background-color: var(--dark-accent);
}

.secondary-button {
  border: 1px solid var(--accent);
  color: var(--accent);

  background-color: transparent;
  padding: 8px 20px;
  border-radius: 2px;
}

.secondary-button:hover {
  color: var(--dark-accent);
  border-color: var(--dark-accent);
}

button.large {
  padding: 12px 40px;
  font-size: 1.1rem;
}

button.full-width {
  width: 100%;
  margin: 15px 0;
}
