.SpinnerBox {
    width: 100%;
    display: flex;
    justify-content: center;
    
    position: absolute;
    bottom: 50%;
    left: 0;
}

.Result {
    text-align: center;
}

.Result h2 {
    opacity: 0;
    top: 10px;
    font-weight: 500;
    animation: FadeIn 0.4s ease forwards;
    animation-delay: .2s;
    margin-bottom: 30px;
}

.VideoBox {
    width: 80vw;
    height: 45vw;
    max-width: 800px;
    max-height: 450px;
    position: relative;
    margin: 60px auto;
}

.VideoBox iframe {
    position: relative;
    opacity: 0;
    top: 10px;
    animation: FadeIn 0.4s ease forwards;
    animation-delay: .6s;
}

.VideoBox span {
    cursor: pointer;
    color: var(--secondary);
    transition: color 0.1s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    
    opacity: 0;
    animation: PhaseIn 0.4s ease forwards;
    animation-delay: 1s;
}

.VideoBox span:hover {
    color: var(--primary);
}

.PreviousVideoButton {
    left: calc(-5vw - 10px);
}

.NextVideoButton {
    right: calc(-5vw - 10px);
    
}

.NodeBox {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 100%;
    top: -30px;
    
    
    opacity: 0;
    animation: PhaseIn 0.4s ease forwards;
    animation-delay: 1.2s;
}

.Node {
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    opacity: .4;
    border-radius: 2rem;
    margin: 0 0.5rem;

    transition: opacity 0.15s ease;

    cursor: pointer;
}

@keyframes FadeIn {
    from {
        top: 10px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes PhaseIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .Node {
        margin: 0 calc(1vw - 2px);
    }
}